body {
  font-family: Verdana;
  background-color: #000;
  color: #fff;
  text-align: center;
}
h1 {
  font-size: 50px;
  font-weight: normal;
}

a {
  color: aquamarine;
  size: 16px;
}

.video {
  margin: auto;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}
.image p {
  font-size: 21px;
  color: gray;
}
.image {
  margin: auto;
}
.copyright {
  text-align: right;
  color: Gray;
}
